/* Color palette */
:root {
  --dark: #0d0d0d;
  --red: #993434;
  --green: #66bd6d;
  --orange: #b4792b;
}

/* Global settings */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-weight: normal;
}

/* Shared CSS between Title and Description */
.title,
.description {
  text-align: center;
}

/* Title */
.title {
  padding-top: 1rem;
  color: var(--orange);
  font-size: 20px;
  font-weight: bold;
}

/* Description */
.description {
  padding-bottom: 2rem;
  line-height: 3rem;
  color: #c6cacc;
}

/* removes padding and margins, applies a background */
body {
  padding: 0;
  margin: 0;
  background-color: var(--dark);
}

/* Organizes buttons and elements */
.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  padding-bottom: 20px;
}

/* Visual look of buttons */
.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: none;
  box-shadow: 0px 3px rgba(255, 255, 255, 0.151);
  outline: none;
  background-color: #252728;
  color: white;
  border-radius: 15px;
  margin: 5px;
}

/* Hover color of buttons */
.calculator-grid > button:hover {
  background-color: #c2cace70;
}

/* Defines the span of the all clear and equals buttons */
.span-two {
  grid-column: span 2;
}

/* Visual look of the output screen */
.output {
  grid-column: 1 / -1;
  background-color: var(--dark);
  border: 2px solid #4296cf;
  border-radius: 15px;
  margin-bottom: 15px;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

/* Visual look of the previous operand */
.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

/* Visual look of the current operand */
.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

/* Defines font color for the all clear and delete buttons */
#red-button {
  color: var(--red);
}

/* Defines font color for operation buttons */
#green-button {
  color: var(--green);
}

/* Adds a background to the equals button */
#equal-button {
  background-color: var(--green);
}

#equal-button:hover {
  background-color: #4b8b50;
}
